//gloabal
$black:black;
$white:white;
$gold:gold;
$white-grey:#d9d9d9;

//white-theme
$whiteTheme-primary-color:white;
$whiteTheme-text-color:#0051a4; 
$whiteTheme-sub-text-color:#22869d;
$white-btn: #1c5b86;
$white-ant-btn-primary: #0083ce;
$white-ant-radio-primary-color: #23306a;